.profileInfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

.profileInfo>img {
    width: 100%;
    height: 200px;
    margin-bottom: -100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.profile__media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 20px;
}

.profile__media__desc>h2 {
    font-weight: 600;
}

.profile__avatar {
    border: 4px solid white;
    width: 150px !important;
    height: 150px !important;
}

.profile__media__avatar {
    position: relative;
}

.profile__media__avatar>input {
    display: none;
}

.profile__media__avatar>.MuiSvgIcon-root {
    position: absolute;
    bottom: 6%;
    right: 25%;
    height: 34px;
    width: 34px;
    padding: 5px;
    transition: 0.3s;
}

.profile__media__avatar>.MuiSvgIcon-root:hover {
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.profile__buttons {
    display: flex;
    /* width: 25%; */
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.profile__buttons>button {
    margin-right: 30px;
}

.button {
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button.add {
    /* width: 155px; */
    border: none;
    background-color: #0a66c2;
    color: white;
    font-weight: 600;
}

.button.add:hover {
    background-color: #004182;
}

.button.more {
    border: 1px solid gray;
    color: gray;
}

.button.more:hover {
    border-width: 2px;
    padding: 5px 15px;
}

.profile__buttons>.MuiSvgIcon-root {
    margin-right: 30px;
    height: 40px;
    width: 40px;
    padding: 5px;
    transition: 0.3s linear;
}

.profile__buttons>.MuiSvgIcon-root:hover {
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width:985px) {
    .profile__media {
        flex-direction: column;
        align-items: center;
    }
    .profile__media__avatar>.profile__avatar {
        margin: 0 auto !important;
    }
    .profile__media__avatar>.MuiSvgIcon-root {
        right: 15%;
    }
}

/* @media(max-width:378px) {
    .profile__buttons {
        flex-direction: column;
    }
} */