.feed {
    width: 40%;
}

.feed__inputContainer {
    position: relative;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed__input>form {
    display: flex;
    width: 100%;
}

.feed__input>form>input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
    width: 100%;
}

.feed__input>form>button {
    display: none;
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}

.feed__inputContainer>img {
    height: 200px;
}

.img__delete {
    position: absolute;
    left: 10px;
    opacity: 0;
}

.img__delete:hover {
    opacity: 1;
    cursor: pointer;
    background-color: lightgray;
    border-bottom-right-radius: 50%;
}

@media(max-width:1160px) {
    .feed {
        width: 50%;
    }
}

@media(max-width:900px) {
    .feed {
        width: 90%;
        align-self: center;
    }
}

@media(max-width:500px) {
    .feed__inputOptions {
        flex-wrap: wrap;
    }
}