.homepage {
    background-color: #f3f2ef;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

@media(max-width:1160px) {
    .homepage {
        justify-content: space-between;
    }
}

@media(max-width:900px) {
    .homepage {
        flex-direction: column;
        justify-content: center;
    }
}