.profile {
    background-color: #f3f2ef;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.profile__center {
    display: flex;
    flex-direction: column;
    flex: 0.6;
}

.profile__right {
    flex: 0.16;
}