.profile {
    background-color: #f3f2ef;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.profile__center {
    display: flex;
    flex-direction: column;
    flex: 0.5;
}