.profile {
    background-color: #f3f2ef;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* padding: 0 200px; */
}

.profile__center {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.profile__right {
    /* width: 25%; */
    flex: 0.45;
}

@media(max-width:612px) {
    .profile__center {
        width: 90%;
    }
}