.header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
}

.header__left {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.header__left>img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header__right {
    max-width: 490px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.header__hiddenButtons {
    position: absolute;
    top: 55px;
    right: 20px;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 5px 0 5px 5px;
    width: 150px;
    justify-content: space-between;
}

.hiddenSearchBar {
    position: absolute;
    z-index: 1000;
    left: 50px;
}

@media(max-width:290px) {
    .hiddenSearchBar {
        width: 195px;
    }
}