.degree {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding-bottom: 20px;
}

.degree>img {
    object-fit: contain;
    height: 56px;
    width: 56px;
}

.degree__text {
    margin-left: 10px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.degree:hover {
    text-decoration: underline;
    cursor: pointer;
}

.degree__text>h4 {
    font-weight: 600;
}

.degree__text>p {
    font-size: 14px;
}

.degree__text>span {
    font-size: 14px;
    color: gray;
}

.degree>.deg__buttons {
    position: absolute;
    top: 0;
    right: 30px;
}

.degree>.deg__buttons>.MuiSvgIcon-root {
    width: 35px;
    height: 35px;
    padding: 5px;
}

.degree>.deg__buttons>.MuiSvgIcon-root:hover {
    background-color: lightgrey;
    border-radius: 50%;
}